@model Users

<form action="/SignIn/ForgotPassword" method="post">
	<div>
		<div>
			<img src="/images/Star 8.png" class="image-signin" />
		</div>
		<div class="title-forgot-password">
			<h2>Forgot password?</h2>
			<p>Don’t worry! It happens. Please enter the email associated with your account.</p>
		</div>
		<div class="input-email-container">
			<label for="email" class="label-email">Email address</label>
			<input name="email" id="email" asp-for="Email" class="input-email" placeholder="Enter your email address" type="email" />
		</div>
		<button type="submit" class="send-code-button">
			<p>Send code</p>
		</button>
		<div class="remember-password">
			<span>
				Remember password?
			</span>
			<a asp-controller="SignIn" asp-action="Index">
				Log in
			</a>
		</div>
	</div>
</form>
