@model Users

<form action="/SignIn" method="post">
	<div>
		<div>
			<img src="/images/Star 8.png" class="image-signin" />
		</div>
		<div class="title-signin">
			<h2>Log in</h2>
		</div>
		<div class="input-email-container">
			<label for="email" class="label-email">Email address</label>
			<input name="email" id="email" asp-for="Email" class="input-email" placeholder="Your email" type="email" />
		</div>
		<div class="input-password-container">
			<label for="password" class="label-password">Password</label>
			<input name="password" asp-for="Password" class="input-password" placeholder="Password" type="password" id="id_password" />
			<img src="/icons/eye-hide.png" id="togglePassword" />
		</div>
		<label class="label-forgot-password"><a asp-controller ="/" asp-action="/">Forgot password?</a></label>
		<button type="submit" class="create-account-button2">
			<p>Log in</p>
		</button>
		<div class="other-login-container">
			<div></div>
			<p>Or Login with</p>
			<div></div>
		</div>
		<div class="other-login-logo-container">
			<a asp-controller="/" asp-action="/"><img src="./icons/facebook.svg" /></a>
			<a asp-controller="/" asp-action="/"><img src="./icons/Google.svg" /></a>
			<a asp-controller="/" asp-action="/"><img src="./icons/Apple.svg" /></a>
		</div>
		<ul class="error-list-registration">
			<li hidden id="not_matching_password">Password and confirm password is not match</li>
		</ul>
		<div class="signup">
			<span>
				Don’t have an account?
			</span>
			<a asp-controller="CreateAccount" asp-action="Index">
				Sign up
			</a>
		</div>
	</div>
</form>
