<div>
	<div>
		<img src="/images/Illustration.png" class="image" />
	</div>
	<div class="title">
		<h2>Explore the app</h2>
		<p>Now your finances are in one place and always under control</p>
	</div>
</div>