<div>
	<div>
		<img src="/images/Illustration.png" class="image" />
	</div>
	<div class="title">
		<h2>Explore the app</h2>
		<p>Now your finances are in one place and always under control</p>
	</div>
	<a class="sign-in-button" asp-controller="SignIn" asp-action="Index">
		<p>Sign In</p>
	</a>
	<a class="create-account-button" asp-controller="CreateAccount" asp-action="Index">
		<p>Create account</p>
	</a>
</div>